body {
    font-family: Arial, sans-serif;
    background: #a267db;
    margin: 0;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 15px 25px;
    background: #5b2c8d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.stop {
    padding: 15px 25px;
    background: #4b0082;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
