body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    background: #fafafa;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}

.btn {
    background-color: #0095ff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0077cc;
}

.stop {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

